@font-face {
    font-family: 'QwigleyRegular';
    src: url('../fonts/Qwigley-Regular-webfont.eot');
    src: url('../fonts/Qwigley-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Qwigley-Regular-webfont.woff') format('woff'),
    url('../fonts/Qwigley-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Qwigley-Regular-webfont.svg#QwigleyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ComfortaaBold';
    src: url('../fonts/Comfortaa_Bold-webfont.eot');
    src: url('../fonts/Comfortaa_Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Comfortaa_Bold-webfont.woff') format('woff'),
    url('../fonts/Comfortaa_Bold-webfont.ttf') format('truetype'),
    url('../fonts/Comfortaa_Bold-webfont.svg#ComfortaaBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@media  (max-width: 767px){
    .main {
        position: relative;
        /*width: 493px;*/
        margin: 0pt auto;
    }
    .content{
        /*width: 493px;*/
        margin: 0pt auto;
    }
    header {
        float: left;
        /*width: 493px;*/
        height: 40px;
    }
}
@media (min-width: 768px) {
    .main {
        position: relative;
        /*width: 986px;*/
        margin: 0pt auto;
    }
    .content{
        /*width: 986px;*/
        margin: 0pt auto;
    }
    header {
        float: left;
        /*width: 986px;*/
        height: 40px;
    }
}
.contact-wrapper{
    margin: 5px 5px 4px 5px;
}
.wrapper{
    width: 100%;
    margin: 0pt auto;
    background: #ffffff;
}
.content{
    background: rgba(250,250,250,1);
    background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 47%, rgba(232,232,232,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,250,250,1)), color-stop(47%, rgba(240,240,240,1)), color-stop(100%, rgba(232,232,232,1)));
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 47%, rgba(232,232,232,1) 100%);
    background: -o-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 47%, rgba(232,232,232,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 47%, rgba(232,232,232,1) 100%);
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(240,240,240,1) 47%, rgba(232,232,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e8e8e8', GradientType=0 );
}
.header-image{
    background-color: #fff;
    width: 100%;
    margin-top: 4px;
}
.ornate {
    font-family: QwigleyRegular, Arial Black;
    font-size: 100px;
    text-shadow: 2px 2px 3px #888;
}
.decorative-text{
    font-family: ComfortaaBold, Georgia;
    font-size: 18pt;
    color: #4477AA;
}
.centered-content{
    text-align: center;
}
.text-under{
    position: relative;
    top: -55px;
    white-space: nowrap;
}
.contact-info{
    margin-left: 5px;
}
.float-right{
    float: right;
}
footer{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgba(232,232,232,1);
}
footer > div{
    padding-top: 4px;
    padding-bottom: 2px;
}